@tailwind base;
@tailwind components;
@tailwind utilities;

.cube {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform-style: preserve-3d;
  transform: translate(-50%, -50%) rotateX(0deg) rotateY(0deg);
  animation: rotate 20s infinite linear;
}

.cube-container {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 150px; /* Adjust the padding value as needed */
  box-sizing: border-box;
}



.side {
  position: absolute;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.front {
  background-color: #0D47A1; /* Dark Blue */
  transform: translateZ(100px);
}

.back {
  background-color: #00695C; /* Dark Green */
  transform: rotateY(180deg) translateZ(100px);
}

.right {
  background-color: #B71C1C; /* Dark Red */
  transform: rotateY(90deg) translateZ(100px);
}

.left {
  background-color: #FFB300; /* Amber */
  transform: rotateY(-90deg) translateZ(100px);
}

.top {
  background-color: #FF6F00; /* Orange */
  transform: rotateX(90deg) translateZ(100px);
}

.bottom {
  background-color: #4A148C; /* Dark Purple */
  transform: rotateX(-90deg) translateZ(100px);
}


@keyframes rotate {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.cube-container-moved .cube {
  transform: rotateY(-90deg);
}

.cube-container-moved .side {
  transition: transform 0.5s ease;
}

.cube-container-moved .side.front {
  transform: translateZ(150px);
}

.cube-container-moved .side.back {
  transform: rotateY(180deg) translateZ(150px);
}

.cube-container-moved .side.right {
  transform: rotateY(-90deg) translateZ(150px);
}

.cube-container-moved .side.left {
  transform: rotateY(90deg) translateZ(150px);
}

.cube-container-moved .side.top {
  transform: rotateX(90deg) translateZ(150px);
}

.cube-container-moved .side.bottom {
  transform: rotateX(-90deg) translateZ(150px);
}

.curved-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 10;
}
.curved-modal {
  background-color: #212121;
  border-radius: 60px 60px -80px -80px; /* Use larger negative values for the top-left and top-right corners */
  width: 700px; /* Set the desired width */
  height: 400px; /* Set the desired height */
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform-style: preserve-3d;
  perspective: 1000px; /* Adjust the perspective value as needed */
}

.curved-modal h1 {
  color: #ffffff;
  font-size: 24px;
  margin-bottom: 10px;
  transform: translateZ(50px); /* Adjust the translation value as needed */
}

.exit-button {
  background: linear-gradient(180deg, #ffffff 0%, #f2f2f2 100%);
  color: #333333;
  border: none;
  padding: 10px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
}




